@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  :root {
    --background: 0 0% 20%;
    --foreground: 0 0% 94.1%;
    --card: 0 0% 23%;
    --card-foreground: 0 0% 94.1%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 94.1%;
    --primary: 6 54% 47%;
    --primary-foreground: 0 0% 94.1%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 94.1%;
    --muted: 0 0% 30%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 94.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 0 0% 25%;
    --ring: 6 54% 47%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 20%;
    --foreground: 0 0% 94.1%;
    --card: 0 0% 23%;
    --card-foreground: 0 0% 94.1%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 94.1%;
    --primary: 6 54% 47%;
    --primary-foreground: 0 0% 94.1%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 94.1%;
    --muted: 0 0% 30%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 94.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 0 0% 25%;
    --ring: 6 54% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
